@import "tailwindcss";

@theme inline {
  --color-primary: #012d1d;
  --color-primary-container: #1b4332;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #86af99;

  --color-secondary: #006e1c;
  --color-secondary-container: #91f78e;
  
  --color-tertiary: #372200;
  --color-tertiary-container: #543600;

  --color-surface: #f8faf5;
  --color-surface-container-highest: #e1e3df;
  --color-surface-container-high: #e7e9e4;
  --color-surface-container-low: #f2f4f0;
  --color-surface-container-lowest: #ffffff;

  --color-on-surface: #191c1a;
  --color-on-surface-variant: #414844;

  --color-outline: #717973;
  --color-outline-variant: #c1c8c2;
  --color-error: #ba1a1a;

  --font-heading: var(--font-plus-jakarta-sans);
  --font-body: var(--font-inter);
}

body {
  background: var(--color-surface);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

.gradient-primary {
  background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-container) 100%);
}

.ambient-shadow {
  box-shadow: 0px 12px 32px rgba(25, 28, 26, 0.06);
}

.glass-panel {
  background-color: rgba(248, 250, 245, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}

.glass-bubble {
  background-color: rgba(84, 54, 0, 0.85); /* tertiary-container */
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  color: white;
}
